@media only screen and (min-width: 32.5em){
header h1{
    font-size: 2.5rem;
    font-family: 'Corben', cursive;
    }
main h2{
    border-bottom: 1px solid black;
    font-family: 'Corben', cursive;
    font-size: 1.5rem;
    }
.profile {
    float:right;
    box-shadow:0 0 17px black ;
}
header, footer {
    border-radius: 15px;
} 
}
