main {
    display: block;
    margin: 0 auto;
}
h2, h1 {
    color: #4d4d96;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
.card1 section, .card2 section, .card3 section {
    background-color: #b9b9cc;
    border: 1px solid #4d4d96;
}
.card1, .card2, .card3 {
    gap: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 30px #111;
}
.card1 img, .card2 img, .card3 img {
    width: 240px;
    height: 300px;
    box-shadow: 0 0 30px #111;
    margin-bottom: 10px;
    margin-top: 10px
}

main {
    display: block;
    margin: 0 auto;
}
@media screen and (min-width: 600px) {
    .cards {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    }
}